.image-container {
    text-align: center;
    margin-top: 100px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}
.button{
width: 330px;
height: 36px;
flex-shrink: 0;
border-radius: 8px;
background: #1877F2;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
margin: 30px auto 0;
}
svg{
width: 32px;
height: 32px;
flex-shrink: 0;
margin-right: 10px
}
p{
flex-shrink: 0;
color: #FFF9F9;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.line1{
width: 120px;
height: 1px;
background: #C5C5C5;
margin-left: 510px;
margin-top: 35px;
}
.line2{
width: 124px;
height: 1px;
background: #CCC;
margin-left: 715px;
margin-top: -1px;
}
.text1{
color: rgba(15, 14, 14, 0.50);
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 663px;
margin-top: -8px;
}
.email{
width: 330px;
height: 35px;
flex-shrink: 0;
border-radius: 6px;
border: 2px solid #E0DDDD;
background: rgba(232, 230, 230, 0.50);
margin-left: 505px;
margin-top: 10px;
}
input:focus {
    outline:none;
}
input[type="email"]::placeholder {
    text-indent: 5px; /* Dilediğiniz miktarda kaydırma değeri */
  }
  input[type="password"]::placeholder {
    text-indent: 5px; /* Dilediğiniz miktarda kaydırma değeri */
  }
.password{
width: 330px;
height: 35px;
flex-shrink: 0;
border-radius: 6px;
border: 2px solid #E0DDDD;
background: rgba(232, 230, 230, 0.50);
margin-left: 505px;
margin-top: 5px;
}
.pass{
    margin-top: 10px;
}
 .apass{
color: #184bf2;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-decoration: none;
margin-left: 740px;
display: flex;
flex-wrap: wrap;
}
.log{
width: 338px;
height: 42px;
flex-shrink: 0;
border: none;
color: #FFFEFE;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.3px;
border-radius: 6px;
background: rgba(24, 119, 242, 0.36);
cursor: pointer;
margin-left: 505px;
margin-top: 20px;
}
.span2{
color: #AEA9A9;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.3px;
}
.span1{
color: #267FF3;
font-family: Roboto;
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.3px;
}
.sign{
    margin-left: 570px;
    margin-top: 20px;
}
.meta{
width: 80px;
height: 30px;
margin-left: 620px;
margin-top: -20px;
}
.metatxt{
color: #AEA9A9;
font-family: Roboto;
font-size: 15px;
font-style: normal;
line-height: normal;
margin-left: 647px;
margin-top: 65px;
}